<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Site</title>
</head>
<body>
  <div>
    <h1>About Us</h1>
    <p>We believe single moms are some of the hardest working people on the planet. It is our joy and honor to come alongside them in times of crisis so they can re-gain stability, break cycles of poverty, and build a new legacy for their families. If you or someone you know is in need, please reach out and let us serve you.</p>
  </div>
  <div>
    <h1>Mission</h1>
    <p>To empower single mothers to build a new legacy.</p>

  </div>
  <div>
    <h1>Vision</h1>
    <p>Every motivated single mom in our community is empowered to build a new legacy for her family.</p>
  </div>
  <div>
    <h1>Values</h1>
    <p>Values
      Extending the Love of Jesus 1 Corinthians 13:4-7 says Love is patient, love is kind. It does not envy, it does not boast, it is not proud. It does not dishonor others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs. Love does not delight in evil but rejoices with the truth. It always protects, always trusts, always hopes, always perseveres.

      Accountability Being willing to answer for the outcomes resulting from your choices, behaviors, and actions.

      Independence Having the resources to be able to survive without outside assistance and free from outside control.</p>
 </div>
 <div>
    <h1>Why</h1>
<p >Women & children are the new faces of family homelessness, projected to make up the vast majority of family homelessness in the future

      Most homeless mothers have experienced severe physical & sexual abuse in BOTH childhood & adult relationships

      This results is post-traumatic stress (psychic numbing, rage reactions, re-living past trauma, depression, anxiety, endless watchfulness, sleeplessness), interfering with the ability to meet their family’s needs

      The children of homeless mothers have experienced violence, chronic loss and instability causing them to exhibit physical and emotional challenges

      -From The National Center for Family Homelessness</p>
    </div>
      <div>
        <p style="margin: 0">Call us for an in-person or virtual meeting | 847-882-2511</p>
        <br>
        <p style="margin: 0">Mon - Thu 8:30am - 4:30pm (Fri & Evenings by appointment) </p>
        <br>
      </div>
</body>
</html>
