.top-menu {
  background-color: #333; /* Change this to your preferred background color */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Ensure the menu is always on top of other content */
}
.active-link {
  color: #333;
  background-color: rgb(23, 23, 23);
}


.menu__box {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu__item {
  text-decoration: none;
  color: #fff; /* Change this to your preferred text color */
  padding: 10px;
  display: block;
  font-size: 1rem; /* Change this to your preferred font size */
}

.menu__item:hover {
  background-color: #555; /* Change this to your preferred hover color */
}

/* Optional styles to adjust the menu on smaller screens */
@media (max-width: 768px) {
  .menu__box {
    flex-direction: column;
  }

  .menu__item {
    padding: 10px;
    font-size: 1rem;
  }
}

.user {
  text-decoration: none;
  color: pink; /* Change this to your preferred text color */
  padding: 10px;
  display: flex;
  font-size: 1rem; /* Change this to your preferred font size */
  justify-content: space-between;
}
