<router-outlet></router-outlet>

  <div class="top-menu">
    <ul class="menu__box">
      <li><a class="menu__item" routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a class="menu__item" routerLink="/donationNeeds"routerLinkActive="active-link">Donation Needs</a></li>
      <li *ngIf="(AuthenticationService.currentUser$ | async)">
        <a class="menu__item" routerLink="/request"routerLinkActive="active-link">Request</a>
      </li>
      <li *ngIf="(AuthenticationService.currentUser$ | async) as user">
        <a class="menu__item" routerLink="/admin" *ngIf="(AuthenticationService.getUserRole(user) | async) === 'admin'" routerLinkActive="active-link">Admin</a>
      </li>
      <li *ngIf="!(AuthenticationService.currentUser$ | async)">
        <a class="menu__item" routerLink="/login" routerLinkActive="active-link">Login</a>
      </li>
      <ng-container *ngIf="AuthenticationService.currentUser$ | async as user; else logoutButton">
        <li><a class="menu__item" href="javascript:void(0)" (click)="logout()" routerLinkActive="active-link">Logout</a></li>
      </ng-container>
      <li><span class="user">{{user?.email}}</span></li>
      <ng-template #logoutButton></ng-template>
    </ul>
  </div>



